header
{	background-image: url(/images/header.png);
	background-size: 360px;
	background-repeat: no-repeat;
  	position:fixed;
	left: 60px;
  	top: 20px;
	bottom: 20px;
  	width: 400px;
  	color: #880000;
  	float: left;
  
}
.backtop{
	background-image: url(/images/top.png);
    background-repeat: no-repeat;
    width: 120px;
    height: 130px;
    position: absolute;
    top: 3650px;
    right: 43px;
    transition: 0.2s;
    z-index: 100;
}
.top{
	font-size: 30px;
	padding: 30px 35px;
}
body{
    background-image:url(/images/bg.jpg);
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 600;
    background-size: 100%;
	letter-spacing: 0.65px;
	margin: 0;
}
h2{
	color: #880000;
	font-weight: bold;
	padding: 5px;
}
h3{
	color: #3e4a70;
	font-weight: bold;
}

.titlefont{
	color:#3e4a70;
	text-shadow: 3px 3px #9c2f2f79;
	font-family: 'Caveat', cursive;
	font-weight: bold;
}
.picture{
	width: 200px;
	position: relative;
	top: 60px;
 	left: -25px;
	display: block;
	margin: auto;
	transition: all .5s ease-out;
  	border-radius: 30px;
}
.picture:hover
{
    transform: rotate(360deg);
  	transition: 1.25s;
  	border-radius: 50%;
}


.motto
{	color: #262627;
	font-size: 20px;
	text-align: center;
	position: relative;
	top: 80px;
	opacity: 0.7;
  	left: -30px;
	padding: 12px 50px;
	margin: 0 80px ;
	font-family: 'Caveat', cursive;
	background-color: #FFFFF0;
	animation-name:mo;
	animation-duration:5s;
	animation-direction:alternate;
	animation-iteration-count:infinite;

}
@keyframes mo{
	0%{
		background-color: #FFFFF0;
	}
	100%{
		
		box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.8);
	}
  }

.name{
	text-align: center;
	font-size: 40px;
	position: relative;
	top: 90px;
  	left: -25px;

}
.education
{
  	left: -25px;
	text-align: center;
	font-size: 15px;
	position: relative;
	top: 90px;
	color: #000000;
	letter-spacing: 2px;
}

.info{
  	left: -25px;
	text-align: center;
	font-size: 25px;
	position: relative;
	top: 105px;
	letter-spacing: 3px;
	line-height: 1.5;
	font-family: 'Caveat', cursive;
}

.icon{
    position: relative;
    top: 100px;
    left: 40px;
	padding: 20px 20px;
}

.icon i{	
 color: #8b7a60;
 width: 25%;
 display: block;
 float: left;
 padding: 10px 1px;

}

.icon i:hover{
	transition: all 0.8s ease-out;
	transform: scale(1.2, 1.2);
    transform: rotate(45deg);
	color: #3e4a70;
}
small{
	font-size: 18px;
	font-family: 'Caveat', cursive;
	color: #880000;
	
}

/* section1 */
.text1{
	position: relative;
	width: 420px;
	height: 470px;
	left: 450px;
	top: 30px;
	box-sizing: border-box;
	padding: 80px 20px 30px 15px;
 	border-radius: 5px;

}

.title1 {
	position: absolute;
    text-align: center;
    font-size: 35px;
    background-image: url(/images/label1.png);
    width: 65px;
    height: 55px;
    left: 0px;
    top: 0px;
    padding: 19px 70px 15px 50px;
}

.title1:hover{
	transition: all 0.8s ease-out;
	transform: scale(1.2, 1.2);
    transform: rotate(-45deg)
}

.word{
	position: absolute;
	top: 140px;
	font-size: 18px;  
	text-indent: 20px;
	
  }

td ,tr{
	width: 250px;
	height: 240px;
  }
  
.circle-wrap {		  	
	width: 150px;
	height: 150px;
	background: #d9d9d96c;
	border-radius: 50%;
	margin: 10px 50px 25px 50px;
	
  }

.inside-circle {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #e7e3db;
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
    z-index: 100;
	
    }

.inside-circle:hover{
	background-image: url(/images/sun.png);
	background-size: 100%;
	
}

.mask, .fill{
	width: 150px;
	height: 150px;
	position: absolute;
	border-radius: 50%;
  }

.mask {
	clip: rect(0px, 150px, 150px, 75px);
  }

.fill {
	clip: rect(0px, 75px, 150px, 0px);
	background-color: #b89c9c;
  }

.mask.full, .fill {
	animation: fill ease-in-out 3s;
	transform: rotate(150deg);
  }
@keyframes fill {
  0% {
	transform: rotate(0deg);
  }
  100% {
	transform: rotate(150deg);
  }
  }
  
  /*第二個圈圈*/
  
.fill2 {
	width: 150px;
	height: 150px;
	position: absolute;
	border-radius: 50%;
	clip: rect(0px, 75px, 150px, 0px);
	background-color: #3e4a70;
  }
  
.mask.full2, .fill2 {
	animation: fill2 ease-in-out 3s;
	transform: rotate(145deg);
  }
  
@keyframes fill2 {
  0% {
	transform: rotate(0deg);
  }
  100% {
	transform: rotate(145deg);
  }
  }
  
  /*第三個圈圈*/
  
.fill3 {
	width: 150px;
	height: 150px;
	position: absolute;
	border-radius: 50%;
	clip: rect(0px, 75px, 150px, 0px);
	background-color: #3e4a70;
  
  }
  
.mask.full3, .fill3 {
	animation: fill3 ease-in-out 3s;
	transform: rotate(130deg);
  }
  
@keyframes fill3 {
  0% {
	transform: rotate(0deg);
  }
  100% {
	transform: rotate(130deg);
  }
  }
  
  
  /*第四個圈圈*/
.fill4 {
	width: 150px;
	height: 150px;
	position: absolute;
	border-radius: 50%;
    clip: rect(0px, 75px, 150px, 0px);
	background-color: #b89c9c;
  }
  
.mask.full4,.fill4 {
	animation: fill4 ease-in-out 3s;
	transform: rotate(155deg);
  }
  
@keyframes fill4 {
  0% {
	transform: rotate(0deg);
  }
  100% {
	transform: rotate(155deg);
  }
  }
  





.text2{
	position: absolute;
    background-image: url(/images/text4.png);
    background-repeat: no-repeat;
    width: 424px;
    height: 555px;
    left: 1050px;
    top: 65px;
    font-size: 22px;
    box-sizing: border-box;
    padding: 50px 105px 50px 50px;
    border-radius: 10px;

}
.workcard{
	animation:wc; /*動畫名稱*/
	animation-duration: 4s;/*動畫時間*/
}
@keyframes wc { /*淡入動畫*/
	0% {
		margin-top: 900px;
		opacity: 0;
	}
	100% {
		margin-top: 24px;
		opacity: 1;
	}
}
 p.workcard:hover{
	background-color: #9cabb8b6;
	border-radius: 10px;
	
}

.xuan{
	width:180px;
	position:absolute;
	top: 480px;
	animation-name: rrr;
	animation-duration:7s;
	animation-iteration-count:infinite;
	animation-direction:alternate;

}	
@keyframes rrr{
	0%{
		left:30px;
	}
	100%{
		left:250px;
		transform: rotate(10deg);
	}
  }

.text3{
	position: relative;
  	width: 1000px;
	height: 400px;
	left: 500px;
	top: 250px;
	box-sizing: border-box;
	padding-left: 350px;
}  
.title3	{
	font-size: 25px;
    background-image: url(/images/text2.png);
    background-repeat: no-repeat;
    width: 10px;
    height: 104px;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 150%;
    text-indent: -131px;
    font-size: 40px;
    padding: 102px 188px;
	animation-name: rr;
	animation-duration:3s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
}

@keyframes rr{
	0%{
		transform: scale(1);
	}
	100%{
		
		transform: scale(1.1);
	}
  }
.text3 {
	position: relative;
  	width: 1000px;
	height: 400px;
	left: 500px;
	top: 250px;
	box-sizing: border-box;
	padding-left: 350px;
}


.skillbox{
    box-sizing: border-box;
    width: 500px;
    margin: 8px 80px;
}

.skillbox p{
    color: rgb(124, 96, 96);
    text-transform: uppercase;
    margin: 0 0 10px 0 ;
    padding: 0;
    letter-spacing: 1px;
	font-size: 15px;

}
.skillbox p:nth-child(2){
    float: right;
    position: relative;
    top: -25px;
}
.skill{
    background: #ffffff;
    padding: 4px;
    border: 1px solid #880000;
    border-radius: 6px;
}
.skill_level{
    background-color: #b89c9c;
    width: 100%;
    height: 10px;
	animation-name: example;
	animation-duration: 3s;
	animation-direction:alternate;
	animation-iteration-count:infinite;
}

@keyframes example {
	from {background-color: #3e4a70;}
	to {background-color: #b89c9c;}
}

.text4 {
    position: absolute;
    width: 1050px;
    height: 1600px;
    left: 450px;
    top: 1100px;
    box-sizing: border-box;
    padding-top: 100px;
}	

.title4{
    background-image: url(/images/text3.png);
    width: 153px;
    height: 175px;
    background-repeat: no-repeat;
    position: absolute;
    left: 640px;
    font-size: 48px;
    padding: 100px 108px;
    top: 0px;
    z-index: 1;
    line-height: 165%;
    text-indent: -34px;
}
.title4:hover{
	transition: all 0.8s ease-out;
    animation: swing  0.5s 3;

}
@keyframes swing {
    15% {
        transform: translateX(5px);
    }

    40% {
        transform: translateX(-5px);
    }

    65% {
        transform: translateX(2px);
    }

    85% {
        transform: translateX(-2px);
    }

    100% {
        transform: translateX(0px);
    }
}


.timecard{
	animation: tc; /*動畫名稱*/
	animation-duration: 9s;/*動畫時間*/
}

@keyframes tc { /*淡入動畫*/
		0% {
			margin-top: 900px;
			opacity: 0;
		}
		100% {
			margin-top: 0px;
			opacity: 1;
		}
}

.highlight:hover{
	background-color: #f5f37fb6;
	border-radius: 10px;
	width: 220px;
	padding: 5px;
	
}
.wei-grid {
    position: relative;
    left: 20%;
    width: 200px;
    height: 130px;
    margin: 0px 10px 0px 10px;
    overflow: hidden;
}
.timepicture:hover{
	
	transform:scale(1.25);
	overflow: hidden;
}

.timepicture{
	transition: transform 1s ease;
	width: 100%;
	height: 100%;
	/* margin: 0px 80px; */
}

  /* The actual timeline (the vertical ruler) */
  .timeline {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: #3e4a70;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -6px;
  }
  
  /* Container around content */
  .container {
	padding: 5px 10px;
	position: relative;
	background-color: inherit;
	width: 470px;
	margin-left: 50px;
	box-sizing: border-box;
  }
  
  /* The circles on the timeline */
  .container::after {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	right: -17px;
	background-color: rgb(250, 250, 250);
	border: 7px solid #3e4a70;
	top: 80px;
	border-radius: 50%;
	z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: -75px;

  }
  
  /* Place the container to the right */
  .right {
	left: 50%;
  }
  
  /* Fix the circle for containers on the left side */
  .left:after {
	left: 107%;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -15%;
  }
  
  /* The actual content */
  .content {
	padding: 12px 25px;
	background-color: white;
	border: outset ;
	position: relative;
	border-radius: 20px;
	font-size: 11px;
  }
  


.text5{
 	 position: absolute;
	/* background-color: rgba(223, 216, 208, 0.404); */
	width: 1080px;
	height: 1050px;
	left: 425px;
	top: 2700px;
	box-sizing: border-box;
	padding:30px 20px 45px 65px;
}


.title5 {
    position: absolute;
    text-align: center;
    font-size: 33px;
    background-image: url(/images/label3.png);
    background-repeat: no-repeat;
    width: 173px;
    height: 80px;
    left: 9px;
    top: 0px;
    padding: 20px 10px 15px 0px;
    z-index: 100;
}

.text6{
  	left: 0px;
	position: absolute;
	width:  1080px;
  	height: 425px;
	box-sizing: border-box;
	padding:0px 65px;
}


  
.row {
	margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row, .row > .column {
	padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
	float: left;
	width: 305px;
  }
  
  /* Clear floats after rows */ 
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Content */
  .content2 {
	background-color: white;
	padding: 20px 10px;
  }
  


  .accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
  }
  
  .active, .accordion:hover {
	background-color: #ccc;
  }
  
  .accordion:after {
	content: '\002B';
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
  }
  
  .active:after {
	content: "\2212";
  }
  
  .panel {
	padding: 0 5px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	font-size: 10px;
	transition: max-height 0.2s ease-out;
  }



  

